@media (max-width: 1181px) {
  /* index.html */
  .header-container {
    padding: 0px 32px;
  }

  .header-title a {
    display: flex;
    flex-direction: column;
  }

  .header-title a span {
    font-size: 24px;
  }

  .header-title a span:nth-child(2) {
    font-weight: 400;
    text-align: center;
  }

  .products-wrapper {
    overflow-x: auto;
  }

  .products {
    justify-content: flex-start;
    gap: 24px;
    max-width: 282px;
    scroll-snap-align: start;
    scroll-snap-type: x mandatory;
  }
  .product {
    flex: 0 0 auto;
  }
  /* end index.html */

  .sidebar {
    display: block;
  }

  footer {
    padding: 80px 32px;
  }
}

@media (max-width: 1260px) {
  .products-grid .product-card:nth-child(n + 7) {
    display: none;
  }
  .products-grid .product-card {
    width: 100%;
    justify-content: center;
  }
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 32px;
  }
  .shop-header {
    padding: 0px 32px;
  }
  .product-card img {
    display: flex;
    width: 100%;
  }
}
